body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem 5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  padding: 1rem;
  width: 100%;
}

.d_flex {
  display: flex;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  padding: 10px;
  list-style: none;
}
a,
li a {
  color: #ddd;
}
a:hover,
li a:hover,
li a.active {
  color: tomato;
}

.card {
  border: 1px solid #ddd;
  padding: 10px;
}