.sidebar {
  width: 25%;
  height: 100vh;
  background-color: #2c3e50;
  padding: 1rem;
}

ul li {
  padding: 1rem .5rem;
  border-bottom: 1px solid #34495e;
}
ul li a {
  color: #fff;
  text-transform: capitalize;
  display: block;
  font-weight: 500;
}
ul li a.active,
ul li a:hover {
  color: #d35400;
}